{% extends 'main.html' %}

{%block title%}About{%endblock title%}

{% block body  %}

<div class="container pt-4 text-center">
  <div class="col-md 6 mt-4 p-3">
    <h2 class="font-weight-bold text-success">Why Choose Us</h2>
    <h5 class="text-white mt-5">An Exceptionally Unique Experience Tailored To You</h5>
    <p class="text-white">We commit to providing our customers Multicloud Enablement & Consulting with our in-depth technical expertise, many years of experience in our respective fields. And because of our lean organization and offshoring development work to cost efficient locations, we can provide you with very competitive prices. We also believe that customer comes first and are therefore committed to giving you the best customer experience. Finally, we are always committed to adhering to the highest professional standards in all what we do by Ensuring right metrics and KPIs in place to achieve right outcomes for valuable customers.</p>
  </div>
</div>

<div class="container pt-4 text-center">
  <div class="col-md 6 mt-4 p-3">
    <h2 class="font-weight-bold text-success">Our Team</i></h2>
    <h5 class="text-white mt-5">Meet The Minds Shaping An Industry</h5>
  </div>
</div>

<!--Board of Directors-->
<div>
  <div class="container pt-4 text-center">
    <div class="col-md 6 mt-4 p-3">
      <h2 class="font-weight-bold text-success">Board of Directors</h2>
    </div>
  </div >

  <div class="profile-area">
    <div class="container">
      <div class="row">
  
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/static/images/profile001.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/Attaullah.jpg" alt=""></div>
            <div class="main-text">
              <h2>Hafiz Muhammad Attaullah</h2>
              <p>Founder & Executive<br>Director</p>
            </div>
            <div class="socials">
              <a href="https://www.facebook.com/iamAttaullah10"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/iamAttaullah10"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/attaullahshafiq10/"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://www.instagram.com/iamattaullah10/"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/Attaullah.jpg" alt=""></div>
            <div class="main-text">
              <h2>Muhammad Jamalullah</h2>
              <p>President & Chairman Of Audit Committee</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!--Experts & Advisory Team-->
<div>
  <div class="container pt-4 text-center">
    <div class="col-md 6 mt-4 p-3">
      <h2 class="font-weight-bold text-success">Experts & Advisory Team</h2>
    </div>
  </div >

  <div class="profile-area">
    <div class="container">
      <div class="row">
  
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/static/images/profile001.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/Attaullah.jpg" alt=""></div>
            <div class="main-text">
              <h2>Muhammad Gul Iqbal</h2>
              <p>Sr. NOC & SOC Engineer</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/shahzad.png" alt=""></div>
            <div class="main-text">
              <h2>Prof. Dr. Shahzad Memon</h2>
              <p>#</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/faisal.png" alt=""></div>
            <div class="main-text">
              <h2>Engr.Faisal Ahmed</h2>
              <p>Researcher (Germany)</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="profile-area">
    <div class="container">
      <div class="row">
  
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/static/images/profile001.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/Faheem.png" alt=""></div>
            <div class="main-text">
              <h2>Faheem Anwar</h2>
              <p>Cisco BD Manager For Pakistan-Afghanistan-Yemen</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/waqas.png" alt=""></div>
            <div class="main-text">
              <h2>Waqas ul Karim</h2>
              <p>Cyber Security Consultant<br>(South Africa)</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/Iftikhar.png" alt=""></div>
            <div class="main-text">
              <h2>Iftikhar Javed</h2>
              <p>Sr.Network Engineer<br>(Denmark)</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
</div>


<!--ManagementTeam-->
<div>
  <div class="container pt-4 text-center">
    <div class="col-md 6 mt-4 p-3">
      <h2 class="font-weight-bold text-success">Management Team</h2>
    </div>
  </div >

  <div class="profile-area">
    <div class="container">
      <div class="row">
  
        <div class="col-md-3">
          <div class="card">
            <div class="img1"><img src="/static/images/profile001.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/farwa.png" alt=""></div>
            <div class="main-text">
              <h2>Umm-e-Farwa</h2>
              <p>Team Lead Research & Development</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/Alishba.png" alt=""></div>
            <div class="main-text">
              <h2>Alishba</h2>
              <p>Team Lead<br>Relations</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/shoaib.jpg" alt=""></div>
            <div class="main-text">
              <h2>Shoaib Laghari</h2>
              <p>Team Lead Technical Services</p> 
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/danish.jpg" alt=""></div>
            <div class="main-text">
              <h2>Muhammad Danish siddiqui</h2>
              <p>Web Developer</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>

  <div class="profile-area">
    <div class="container">
      <div class="row">
  
        <div class="col-md-3">
          <div class="card">
            <div class="img1"><img src="/static/images/profile001.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/Ruba.png" alt=""></div>
            <div class="main-text">
              <h2>Ruba Khawar</h2>
              <p>Content Writer</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/Ali.png" alt=""></div>
            <div class="main-text">
              <h2>Syed Ali Haider</h2>
              <p>Graphic Designer</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="img1"><img src="/static/images/profile002.jpg" alt=""></div>
            <div class="img2"><img src="/static/images/profile01.jpg" alt=""></div>
            <div class="main-text">
              <h2>Naeem Haider</h2>
              <p>Graphic Designer</p>
            </div>
            <div class="socials">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</div>


{% endblock body  %}