{% extends 'main.html' %}

{%block title%}Manual Penetration Testing{%endblock title%}

{% block body  %}

<div class="row row-cols-1 row-cols-md-1 g-4 m-2">
    
    <div class="col">
      <div class="card h-100 bg-black">
        <img src="/static/images/service01.png" class="card-img-top" alt="...">
      </div>
    </div>
</div>

<div class="text-white">
<div >
<h5 class="container pt-5"><b>
  Tesst enables vulnerability and risk of a website tested by an expert engineer to perform (Data Collection, Vulnerability Assessment, Actual Exploit, Report Preparation)
</h5>
</div>

<div >
  <p class="container pt-3">
    For the fiscal year ended May 31, 2005, revenues increased 12 percent to $13.7 billion, compared to $12.3 billion in fiscal year 2004. Changes in currency exchange rates contributed three percentage points of this growth, while the acquisition of Converse and Starter added one point. Full year net income was up 28 percent to $1.2 billion, or $4.48 per diluted share, versus $945.6 million, or $3.51 per diluted share, in 2004.
  </p>
</div>
</div>

{% endblock body %}